*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Anton", sans-serif;
}
.container{
    max-width: 1024px;
    width: 100%;
    margin:  0 auto;
    display: flex;
}

body{
    background-color: rgb(250, 249, 216);
}

header  .container,
section .container{
    align-items: center;
    justify-content: space-between;
}

section .container{
    align-items: flex-start;

}

header{
    font-size: 25px;
    font-style: none;
    padding: 20px 0px;
    background-color: #fae20c;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    border-bottom: 5px solid black;
}

.titulo{
    font-size: 56px;
}

.menu > li{
    border-bottom: 3px solid transparent;
}
.menu li:hover{
    border-color: black;
}

.menu li:hover .submenu{
    display: block;
}

.submenu{
    display: none;
    background-color:#ecdd07;
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    width: 200px;
    padding: 10px;
    margin-top: 0px;
}

.submenu a{
    -webkit-text-stroke: 1px rgb(0, 0, 0) ;
}

.submenu a:hover,.sobre-a-loja:hover{
    border-bottom: 1px solid black;
    background-color: #c9bc08;
}

li{
    list-style: none;
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;

}
.sobre-a-loja,.produtos{
    color: white;
    -webkit-text-stroke: 1px rgb(0, 0, 0) !important;
}

.fachada{
    width: 400px;
    height: 400px;
    border: 3px solid black;
    margin-right: 16px;
    margin-bottom: 56px;
}

.sobre-loja{
    padding-bottom: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
}

section{
    margin-bottom: 30px;
}

section h2{

    padding-bottom: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
    
}

section .produto{
    display: grid;
    grid-template-columns: 24.0% 24.0% 24.0% 24.0% ;
    gap: 1%;

}

article button{
    width: 250px;
    background-color: #ebd40d;
    align-items:flex-end;
}

article button:hover{
    background-color: #ffee02;
}

article img {
    max-height: 250PX;
    height: 250px;
    border: 1px solid black;
}
article h3{
    margin: 10px 0 10px 0;
    max-width: 70%;
    min-height: 70px;
}
article p{
    font-size: 10px;
    max-width: 70%;
    margin-bottom: 10px;
}

@media screen and (max-width: 640px) {

.container{
    width: 90%;
    margin:  0 auto;
    display: flex;

}

.fachada{
    margin: auto ;
    margin-bottom: 20px;
}

.sobre {
    display: grid;
    align-items: center;
    justify-content:center;
}
header .container{
    padding: 16px;
}

.conteudo {
display:flex ;

}
.conteudo h2 {
    margin-top: 70px;

}
article{
    margin: 10px 150px;
}
.menu{
    display: none;
}
section .produto{
display:grid;
grid-template-columns: 1fr;
align-items: center;
justify-items:center;
}
section {
display: block;
}
header{
    padding: 0px 0px;
}

}


@media screen and (min-width: 641px) and (max-width: 1023px) {

    .container{
        max-width: 641px;
        width: 100%;
        margin:  0 auto;
        display: flex;
    }

    header{
        padding: 0px 0px;
    }

    .menu{
        display: none;

    }
    
    .fachada{
        margin: auto ;
        margin-bottom: 20px;
    }
    
    .sobre {
        display: grid;
        align-items: center;
        justify-content:flex-end;
    }

    header .container{
        padding: 16px;
    }
    
    section .produto{
        display: grid;
        grid-template-columns: 40.0% 40.0% ;
        gap: 1%;
        align-items: center;
        justify-content:center;
    }

    main {
        align-items: center;
    }

    }
    
